.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99; /* Ensure overlay is below drawer but above content */
  }
  
  .drawer {
    position: fixed;
    top: 0;
    left: -300px; /* Start off-screen to the left */
    width: 300px;
    height: 100%;
    transition: left 0.3s ease-in-out; /* Smooth transition for sliding */
    z-index: 100; /* Ensure drawer is on top */
  }
  
  .drawer.open {
    left: 0; /* Slide in when open */
  }
  
  .drawer.closed {
    left: -300px; /* Slide out when closed */
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    border: none;
    background: none;
    cursor: pointer;
  }

  .drawer-wrapper{
    position: absolute;
    z-index: 1;
  }

  .minus-score-clown {
  background-image: url('../components/images/clown-multicolored-hair.webp');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 126%;
}